/* header */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
}

.logo {
  display: inline-flex;
  align-items: center
}

.logo img {
  margin-left: 20px;
}

.logo h1 {
  margin-left: 10px;
}

.nav {
  display: inline-flex;
  align-items: center;
}

header h1,
a {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

header a {
  text-decoration: underline;
  color: black;
  margin: 0 10px;
}

/* Main */

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

.main {
  display: flex;
  position: relative;
  top: 73px;
  justify-content: space-between;
  align-content: center;
  width: 1250px;
  margin: 0 auto;
  padding: 25px 25px 0 0;
}

.large {
  flex-direction: column;
  width: 630px;
}

.medium {
  flex-direction: column;
  width: 300px;
}

.small {
  flex-direction: column;
  width: 240px;
}

.mainArticle {
  background-image: url(../img-story-main.png);
  display: flex;
  height: 300px;
}

.mainArticle h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 0;
}

.story1 {
  background-image: url(../img-story-1.png);
  height: 300px;
  text-align: center;
}

.story1 h3 {
  color: white;
  margin-top: 0;
  justify-content: space-around;
}

.story2 {
  background-image: url(../img-story-2.png);
  height: 300px;
  text-align: center;
}

.story2 h3 {
  color: white;
  margin-top: 0;
}

.story3 {
  background-image: url(../img-story-3.png);
  height: 300px;
  text-align: center;
}

.story3 h3 {
  color: white;
  margin-top: 0;
}

.columns2 {
  display: flex;
  margin-bottom: 50px;
}

.rows2left {
  display: flex;
  flex-direction: column;
}

.left {
  margin-left: 15px;
}

.right {
  margin-right: 15px;
}

.small h3 {
  font-size: 16px;
  font-weight: bold
}

.small span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}
